<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!--The section indicates that you have created a specific section in your configuration for log4net so that at runtime you can change the settings without recompile.-->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>		
	</configSections>
	<log4net>
		<appender name="MyConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<!-- Without the %exception, (any) exceptions will not be displayed in the log file.-->
				<conversionPattern value="[%logger] - %date{ABSOLUTE} [%thread] %level - %message%newline%exception"></conversionPattern>
			</layout>
		</appender>
		<root>
			<!--Log every message that is DEBUG (the lowest level) or higher: OFF > DEBUG/ALL > INFO > WARN > ERROR > FATAL-->
			<level value="DEBUG"/>
			<appender-ref ref="MyConsoleAppender" />
		</root>
	</log4net>
</configuration>